

<hr>
<h2><gixicon-table></gixicon-table>Mastery Angular/Material/Table<gixicon-table></gixicon-table></h2>
<br>A Table made using Angular table (mat-table) which has a [dataSource],colums that are defined in containers which tells the Header Title and what data is displayed in the cell.
  
<!--####### Start TABLE RESOURCES #####-->
<!--@Mastery @Angular/Material/Table-->
<!--@feature This display a list of resources for this Mastery Material Design Experimentation -->
<!--@resolved issue , not loading the MOCKs -->

<xresources></xresources>


<!--############## END TABLE ############-->
<br><br>