<p>
    <a href="https://github.com/jgwill/x-host-as-github-page-190309/blob/master/src/app/x/xmdiconlist/xmdiconlist.component.html">src/app/x/xmdiconlist/xmdiconlist.component.html</a>
</p>
<mat-icon>note_white</mat-icon>
<mat-icon>mic_white</mat-icon>
<mat-icon>skip_previous_back</mat-icon>
<mat-icon>high_quality_black</mat-icon>
<mat-icon>queue_play_next_black</mat-icon>
<mat-icon>play_circle_filled_white_black</mat-icon>
<mat-icon>replay_black</mat-icon>
<mat-icon>stop_white</mat-icon>
<div 
><mat-icon 
>remove_from_queue_black</mat-icon></div
>