
<!--@issue INCOMPLETED -->
<hr>
<div fxLayout="row wrap" fxLayoutAlign="space-between">
   
  <div fxLayout="column" fxLayoutAlign="left top" style="font-size: 0.85em; margin-top: 10px; padding-bottom:20px; white-space:normal">
      These Layout demos are curated from the AngularJS Material documentation, GitHub Issues, StackOverflow, and CodePen.
      <span class="title" style="font-size: 0.7em; font-weight:normal;">
        Hint: Click on any of the samples below to toggle the layout direction(s).
      </span>
    </div>
   <div fxLayout="column" fxLayoutAlign="center top" fxLayoutGap="22px">
      Minim laborum qui excepteur exercitation elit et ipsum Lorem ut ad aliquip et nulla dolore.
      <mat-icon>folder</mat-icon>
   </div>

   <div fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="5px">
     <mat-icon>favorite</mat-icon>
     And one more 
   </div>
  </div>

<hr>

<gixendof [goal]="stc.goal" [path]="stc.path" [state]="stc.state" [content]="stc.content"></gixendof>

<hr>