
<hr>
<a href="https://tympanus.net/codrops/2018/11/29/an-introduction-to-css-shapes/" target="_blank">Intro to CSS Shapes</a>
<hr>

<h1>Lets master Shaping</h1>
 <br>
 <hr>
<h1>Polygon</h1>
<div class="polygon"></div>
<p>{{txt}}</p>


<br><br><br>

<br><br><br>

<br><br><br>


<br><br><br>
<h2>Circle Half</h2>
<div class="circle-half"></div>
<p> {{txt}}

</p>



<br>
<br>

<br>
<br>


<br><br><br>
<hr><hr>
<h1>Rectangle inset Round</h1>
<br><br><br>

<div class="inset-round"></div>
<p>{{txt}}</p>

<br><br><br>
<hr>

<br>
<br>


<br>
<br>
<h1>Left and Right shape</h1>

<div class="left"></div>
<div class="right"></div>

<p>{{txt}}</p>



<br><br><br>


<br><br><br>

<br><br><br>


<div class="polygon-2"></div>
<p>{{txt}}</p>


<br><br><br>

<br><br><br>
<br><br><br>

<br><br><br>

<br><br>
<a href="http://chat.afelia.jgwill.com:3012/src/x-material-shape.html" target="_blank">X Material Shaping experimentation no 1</a>




