.resource-card
{
   max-width: 220px;
   min-width: 150px;
   min-height: 190px;
}

.resource-note
{
   font-size: 80%;
}

.button-text
{
   font-size: 140%; 
   width:75%;
   padding-top: 6px;

  border-radius: 15px;
}
.mat-icon-link
{ 
}