.example-tab-icon {
   margin-right: 5px;
 }
 .mat-tab-header-pagination {
  display: none !important;
  }
  .mat-tab-header {
  overflow: scroll !important;
  }
  .mat-tab-header::-webkit-scrollbar {
  display: none !important;
  }
  .mat-tab-label-container {
  overflow: initial !important;
  }
  